<nav class="navbar navbar-default " role="navigation" xmlns:th="http://www.thymeleaf.org">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span><span
                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a class="navbar-brand" href="#" th:text="#{system.main.page}" ></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav ">
            <li th:class="active" >
                <a href="/view" th:text="#{system.main.rank}" ></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="logined" > <a  href="https://github.com/fulln" id="currentUser" ><span class="glyphicon glyphicon-user login"></span>&nbsp;<B th:text="#{system.main.aboutme}"></B></a></li>
        </ul>
    </div>
</nav>
