.bgdiv{
	background-size: 100% auto; 
	background-repeat: no-repeat; 
	z-index: -1;
	margin:0;
	padding:0;
}
.col-sm-2{
	opacity:0.2;
}
body{
	margin:0px;
	padding:0px;
}
li{	
list-style:none;
float: left;
}